language: cpp
compiler:
  - gcc
  - clang
before_install:
 - sudo apt-get update -qq
before_script:
  - mkdir build
  - cd build
  - cmake .. 
script: 
  - make && ctest --output-on-failure
